{% extends 'layout/layout.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock  %}

{% block content %}
    <header class="header-pg-planes">
        <div class="bg_trans_pg">
            <div class="info">
                <span>
                    <i class="fa-solid fa-location-dot"></i> Cra. 2 #6-40, Cartagena de Indias 
                    <i class="fa-solid fa-phone"></i>  +57 316 4082888
                </span>
                <div class="redes-min">
                    <img src="{% static 'images/facebook.svg'%}" alt="facebook" />
                    <img src="{% static 'images/instagram.svg'%}" alt="instagram" />
                    <img src="{% static 'images/youtube.svg'%}" alt="youtube" />
                </div>
            </div>
    
            <div class="nav">
                <div class="logo">
                    <img src="{% static 'images/logo.png'%}" alt="Logo Toledo">
                </div>
                <nav id="nav" class="main-nav">
                    <div class="nav-links">
                        <a class="link-item"  href="{% url 'home' %}">Inicio</a> 
                        <a class="link-item"  href="{% url 'rooms' %}">Habitaciones</a> 
                        <a class="link-item"  href="{% url 'planes' %}">Planes</a> 
                        <a class="link-item"  href="{% url 'gallery' %}">Galeria</a> 
                        <button onclick="rooms()" class="btn-bg">Reservar</button>
                    </div>
                </nav>
                <button id="button-menu" class="button-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <span class="sub-title">Conoce Nuestra</span>
            <h1 class="title-p">Galeria</h1>

        </div>
    </header>

    <div class="gallerys">

        {% comment %} <h2 class="title">Galeria</h2> {% endcomment %}

        <div class="gallery">
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0107.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0103.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0105.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0159.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0123.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0142.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0091.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0031.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG-20230712-WA0153.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG_20230802_132421_102.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG_20230802_132444_462.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/tbomba2.jpeg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/tbomba1.jpeg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/IMG_20230802_132124_402.jpg'%}" alt="">
            </div>
            <div class="item-gallery">
                <img src="{% static 'images/gallery/restaurante_toledo.jpg'%}" alt="">
            </div>
        </div>

    </div>



   
{% endblock %}