{% extends 'layout/layout.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock  %}

{% block content %}

<header>
        <div class="info">
            <span>
                <i class="fa-solid fa-location-dot"></i> Cra. 2 #6-40, Cartagena de Indias 
                <i class="fa-solid fa-phone"></i>  +57 316 4082888
            </span>
            <div class="redes-min">
                <img src="{% static 'images/facebook.svg'%}" alt="facebook" />
                <img src="{% static 'images/instagram.svg'%}" alt="instagram" />
                <img src="{% static 'images/youtube.svg'%}" alt="youtube" />
            </div>
        </div>

    <div class="nav">
        <div class="logo">
            <img src="{% static 'images/logo.png'%}" alt="Logo Toledo">
        </div>
        <nav id="nav" class="main-nav">
            <div class="nav-links">
                <a class="link-item"  href="{% url 'home' %}">Inicio</a> 
                <a class="link-item"  href="{% url 'rooms' %}">Habitaciones</a> 
                <a class="link-item"  href="{% url 'planes' %}">Planes</a> 
                <a class="link-item"  href="{% url 'gallery' %}">Galeria</a> 
                <button onclick="rooms()" class="btn-bg">Reservar</button>
            </div>
        </nav>
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
        <div class="detail-header">
            <div class="description">
                <div class="bg_trans">
                    <h1>Descubre Cartagena</h1>
                    <p>Descubre nuestras tradiciones, nuestra cultura, la calidad de las personas y mucho mas.</p>
                    <a class="btn-tra" href="{% url 'planes' %}"> Ver Plan</a>
                </div>                
            </div>
            {% comment %} <div class="form">
                <form action="">
                    <input type="text" placeholder="Llegada" name="Llegada">
                    <input type="text" placeholder="Salida">
                    <input type="text" placeholder="Habitaciones">
                    <div class="doble-inpu">
                        <input type="text" placeholder="Adultos">
                        <input type="text" placeholder="Niños">
                    </div>
                    <input type="submit" value="Reservar">
                </form>
            </div>  {% endcomment %}
    </div>
</header>
    <div class="title-home-experiences">
        <span class="subtitel">Explora Cartagena</span>
        <h2 class="title">Experiencias</h2>
    </div>
    <div class="experiences">
        <div class="colum1">
            {% comment %} <span class="subtitel">Explora Cartagena</span>
            <h2 class="title">Experiencias</h2> {% endcomment %}

            <img src="{% static 'images/2.png'%}" alt="Cartagena Getsemani">
            {% comment %} <p class="descript">
                Disfruta la magica experiencia
                de nuestra maravillosa ciudad.
                Conoce los tips para gozar
                Cartagena.
            </p>
            <button class="btn">Ver tips</button> {% endcomment %}
        </div>
        <div class="colum2">
            <div class="img-top">
                <img src="{% static 'images/3.png'%}" alt="Cartagena Getsemani">
            </div>
            <div class="img-bootom">
                <img src="{% static 'images/6.png'%}" alt="Cartagena Getsemani">
            </div>
        </div>
    </div>
        <p class="desc-parrafo">
            Disfruta la magica experiencia
            de nuestra maravillosa ciudad.
            Conoce los tips para gozar
            Cartagena.<br /> 
            <button class="btn">Ver tips</button>
        </p>
        

    

    <div class="room">
        <span>Descubre nuestras</span>
        <h2>Habitaciones</h2>
        <div class="rooms">
        {% for room in rooms %}
        
            <article>
                <a href="{% url 'room' room.id %}">
                <img src="{{ room.image.url }}" alt="{{ room.title }}">
                <div class="detail-rooms">
                    <span>{{ room.title }}</span>
                    <div class="datail-serv">
                        <h3>{{ room.cash }}</h3>
                        <div class="serv">
                            <i class="fa-solid fa-snowflake"></i>
                            <i class="fa-solid fa-shower"></i>
                            <i class="fa-solid fa-wifi"></i>
                            <i class="fa-sharp fa-solid fa-bed"></i>
                            <i class="fa-solid fa-tv"></i>
                        </div>
                    </div>
                </div>
                 </a>
            </article>
       
        {% endfor %}
        
            {% comment %} <article>
                <img src="{% static 'images/habitacion.jpg'%}" alt="Habitacion Doble">
                <div class="detail-rooms">
                    <span>Habitacion Doble</span>
                    <div class="datail-serv">
                        <h3>$115.000</h3>
                        <div class="serv">
                            <i class="fa-solid fa-snowflake"></i>
                            <i class="fa-solid fa-shower"></i>
                            <i class="fa-solid fa-wifi"></i>
                            <i class="fa-sharp fa-solid fa-bed"></i>
                            <i class="fa-solid fa-tv"></i>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <img src="{% static 'images/habitacion.jpg'%}" alt="Habitacion Doble">
                <div class="detail-rooms">
                    <span>Habitacion Doble</span>
                    <div class="datail-serv">
                        <h3>$115.000</h3>
                        <div class="serv">
                            <i class="fa-solid fa-snowflake"></i>
                            <i class="fa-solid fa-shower"></i>
                            <i class="fa-solid fa-wifi"></i>
                            <i class="fa-sharp fa-solid fa-bed"></i>
                            <i class="fa-solid fa-tv"></i>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <img src="{% static 'images/habitacion.jpg'%}" alt="Habitacion Doble">
                <div class="detail-rooms">
                    <span>Habitacion Doble</span>
                    <div class="datail-serv">
                        <h3>$115.000</h3>
                        <div class="serv">
                            <i class="fa-solid fa-snowflake"></i>
                            <i class="fa-solid fa-shower"></i>
                            <i class="fa-solid fa-wifi"></i>
                            <i class="fa-sharp fa-solid fa-bed"></i>
                            <i class="fa-solid fa-tv"></i>
                        </div>
                    </div>
                </div>
            </article> {% endcomment %}
        </div>


        <p class="desc-parrafo" > 
            Disfruta la magica experiencia de nuestra maravillosa ciudad.
            Conoce los tips para gozar Cartagena.
        </p>
        <a href="{% url 'rooms'  %}" class="btn">Ver Mas</a>
    </div>

    <div class="restauran">
        <div class="image-trabj">
            <img src="{% static 'images/restaurante_toledo.jpg'%}" alt="restaurante">
        </div>

        <div class="detail-restaurant">
            <span class="subtitel">Deleita el paladar en</span>
            <h2 class="title">Restaurante</h2>
            <p class="descript">
                Descubre los platos tradicionales de la costa caribe y disfruta
            </p>
        </div>
    </div>
    <div class="coworking">
        <div class="detail-coworking">
            <span class="subtitel">Ambiente</span>
            <h2 class="title">COWORKING</h2>
            <p class="descript">
                Descubra un auténtico oasis de calma en nuestra zona humeda y disfrute de un relajante y refrescante
                baño en nuestra
                piscina exterior. Relájese en las tumbonas.
            </p>
        </div>
        <div class="image-trabj">
            <img src="{% static 'images/coworking_toledo.jpg'%}" alt="Coworking">
        </div>

    </div>
    <div class="piscina">
        <div class="image-trabj">
            <img src="{% static 'images/piscina_toledo.jpg'%}" alt="piscina">
        </div>

        <div class="detail-piscina">
            <span class="subtitel">relajate</span>
            <h2 class="title">Piscina</h2>
            <p class="descript">
                Descubra un auténtico oasis de calma en nuestra zona humeda y disfrute de un relajante y refrescante
                baño en nuestra
                piscina exterior. Relájese en las tumbonas. El acceso a la piscina es libre y gratuito para los clientes
                del hotel. También existen tarifas y la opción de bonos para el público exterior.
            </p>
        </div>

    </div>

    {% comment %} Fecha:
    <input type="text" id="datepicker" /> {% endcomment %}

    {% endblock  %}