{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}{% endblock  %}

{% block content %}

    <header class="header-pg-planes">
        <div class="bg_trans_pg">
            <div class="info">
                <span>
                    Cra. 2 #6-40, Cartagena de Indias - +57 316 4082888
                </span>
                <div class="redes-min">
                    <img src="{% static 'images/facebook.svg'%}" alt="facebook" />
                    <img src="{% static 'images/instagram.svg'%}" alt="instagram" />
                    <img src="{% static 'images/youtube.svg'%}" alt="youtube" />
                </div>
            </div>
            <div class="nav">
                <div class="logo">
                    <img src="{% static 'images/logo.png'%}" alt="Logo Toledo">
                </div>
                <nav id="nav" class="main-nav">
                    <div class="nav-links">
                        <a class="link-item"  href="{% url 'home' %}">Inicio</a> 
                        <a class="link-item"  href="{% url 'rooms' %}">Habitaciones</a> 
                        <a class="link-item"  href="{% url 'planes' %}">Planes</a> 
                        <a class="link-item"  href="{% url 'gallery' %}">Galeria</a> 
                        <button onclick="rooms()" class="btn-bg">Reservar</button>
                    </div>
                </nav>
                <button id="button-menu" class="button-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <span class="sub-title">Disfruta Nuestros</span>
            <h1 class="title-p">Planes</h1>
        </div>
    </header>

    <div class="planes">
        {% comment %} <h2 class="title">PLANES</h2> {% endcomment %}

        <div class="plan">
            <div class="img-plan">
                <img src="{% static 'images/IMG-20230712-WA0099.jpg'%}" class="top-plan" alt="">
                <img src="{% static 'images/IMG-20230712-WA0098.jpg'%}" alt="">
                <img src="{% static 'images/IMG-20230712-WA0100.jpg'%}" class="bottom-plan" alt="">
            </div>
            <div class="detail-plan"> 
            <span class="subtitel">NUESTRA ZONA DE </span>
            <h2 class="title">FOTOGRAFIA</h2>
            <p class="descript">
                Realiza grandes fotos en lugares adecuados para dicha actividad murales, zonas particulares
                y recreativas.
            </p>
            <button class="btn">Reservar</button>
        </div>
        </div>
        <div class="plan">
            <div class="detail-plan">
                <span class="subtitel">ZONA DE </span>
                <h2 class="title">TRABAJO</h2>
                <p class="descript">
                    No te quedes varado, y has uso de nuestra zona de trabajo, un lugar adecuado 
                    para que puedas realizar todos tus proyectos laborales y personales.
                </p>
                <button class="btn">Reservar</button>
            </div>
            <div class="img-plan">
                <img src="{% static 'images/IMG-20230712-WA0151.jpg'%}" class="top-plan" alt="">
                <img src="{% static 'images/coworking_toledo.jpg'%}" alt="">
            </div>
        </div>
        <div class="plan">
            <div class="img-plan">
                <img src="{% static 'images/cart2.jpeg'%}" class="top-plan" alt="">
                <img src="{% static 'images/cartagenadeindias3_opt.jpg'%}" alt="">
            </div>
            <div class="detail-plan">
                <span class="subtitel">CENTRO </span>
                <h2 class="title">HISTORICO</h2>
                <p class="descript">
                    Descubre nuestras tradiciones, nuestra cultura, la calidad de las personas y mucho mas.
                </p>
                <button class="btn">Reservar</button>
            </div>


        </div>
        <div class="plan">
            <div class="detail-plan">
                <span class="subtitel">NUESTRAS </span>
                <h2 class="title">TOURES</h2>
                <p class="descript">
                    Descubra nuestras playas con una variedad de toures que tenemos disponible.
                    En los cuales puedes recorrer maravillosas playas en cartagena y sus alrededores
                     
                </p>
                <button class="btn">Reservar</button>
            </div>




            <div class="img-plan">
                <img src="{% static 'images/playa.jpeg'%}" class="top-plan" alt="">
                <!-- <img src="{% static 'images/playas2.jpeg" alt=""> -->
                <img src="{% static 'images/FOTO-742.jpg'%}"  alt="">
            </div>

        </div>
        <div class="plan">
            <div class="img-plan">
                <img src="{% static 'images/IMG-20230712-WA0031.jpg'%}" class="top-plan" alt="">
                <img src="{% static 'images/IMG-20230712-WA0053.jpg'%}" alt="">
            </div>
            <div class="detail-plan">
                <span class="subtitel">NUESTROS </span>
                <h2 class="title">COCTELES</h2>
                <p class="descript">
                    No puedes quedarete sin probar nuestros maravillosos cocteles, los cuales te 
                    haran pasar momentos magicos. no dudes en visitarnos en el area de la piscina 
                    o en la entrada del hotel.
                </p>
                <button class="btn">Reservar</button>
            </div>


        </div>
    </div>
{% endblock %}