@media screen and (max-width: 825px) {

    .rooms {
        width: 95%;
    }

    .rooms article {
        width: 30%;
        height: 350px;
    }

    .rooms .detail-rooms {
        margin-top: -110px;
    }

    .serv i {
        font-size: 16px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .room h2 {
        font-size: 32px;
    }

    .detail-room {
        padding-bottom: 45px;
    }

    .date-booking input {
        width: 10%;
    }

    .planes {
        width: 92%;
    }

    .gallerys {
        width: 92%;
    }
}

@media screen and (max-width: 450px) {

    .btn-bg {
        margin-top: 30px;
    }

    .detail-header .description {
        width: 75%;
    }

    .detail-header .description button{
        display: block;
        margin: 0px auto;
    }


    .detail-header .description h1 {
        font-size: 42px;
        line-height: 45px;
        text-align: center;
    }

    .detail-header .description p {
        margin-bottom: 24px;
        text-align: center;
    }

    .experiences .btn {
        margin-left: 22px;
        margin-top: 20px;
    }

    .experiences .btn {
        display: block;
        padding: 9px 19px;
        margin: 0px auto;
        margin-top: 25px;
        font-size: 14px;
    }

    .descript {
        font-size: 18px;
        width: 76%;
        margin-top: 20px;
        text-align: center;
    }

    .rooms .detail-rooms {
        margin-top: -105px;
    }

    .experiences .colum1 img {
        margin-top: 14px;
        width: 110%;
    }

    .title {
        font-size: 26px;
    }

    .subtitel {
        font-size: 13px;
    }

    /* .experiences .img-top {
        margin-top: -132px;
    } */

    .experiences .img-top img {
        width: 95%;
    }

    .experiences .img-bootom {
        margin-top: -57px;
        margin-left: -60px;
        margin-bottom: -44px;
    }

    .experiences .img-bootom img {
        width: 110%;
    }

    .rooms {
        flex-direction: column;
    }

    .rooms article {
        width: 70%;
        height: 400px;
        margin: 0px auto;
        margin-bottom: 35px;
    }

    .room .desc-parrafo {
        font-size: 18px;
        margin-top: 20px;
    }

    .piscina,
    .coworking,
    .restauran {
        flex-direction: column;
        margin-top: 40px;
    }

    .image-trabj {
        width: 100%;
        order: -1;
    }

    .detail-piscina,
    .detail-coworking,
    .detail-restaurant {
        width: 100%;
    }

    .footer .footer-data {
        justify-content: center;
        width: 80%;
        flex-direction: column;
        margin-bottom: 45px;
    }

    .reservas, 
    .enlaces, 
    .contacto {
        width: 100%;
        align-items: center;
        text-align: center;
        margin-top: 45px;
    }

    .info .redes-min {
        margin-right: 30px;
    }

    .info span{
        margin-left: 30px;
    }

    .experiences{
        margin-top: 0px;
    }

    .title-home-experiences{
        margin-top: 40px;
    }

    .desc-parrafo {
        font-size: 20px; 
        margin-top: 50px;       
    }

   

}